:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-dark1: #2c2c2c;
  --color-dark2: #242323;
  --color-yelow1: #facc15;
  --color-blue1: #747bff;
  --color-blue2: #a7abfa;
  --color-blue3: #4e5072;
  --color-red1: #cf3131;

  --dark-gray: #a9a9a9;
  --light-gray: #d3d3d3;

  --fg: #ffffffde;
  --input: #2e3138;

  --dur: 1s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 3rem;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app {
  height: 95vh;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-blue2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  gap: 250px;
  padding: 0.5rem;
  border: 1px solid var(--color-yelow1);
  border-radius: 5px;
  margin-top: 0.5rem;
}

.row1,
.row2 {
  display: flex;
  gap: 20px;
  padding: 0.8rem;
}

img {
  width: 180px;
}
